{% extends 'base.html.twig' %}

{% block title %} Inscription{% endblock %}

{% block body %}
<section class="figures">
    <article>
<div class="content">
<h1>nom figure </h1>
<img src="http://placehold.it/350*150" alt="image"> 
<a href="{{path('default')}}"class="btn btn-primary"> lire la suite </a>
</div>
 </article>
</section>


{% endblock %}
